{% extends "base.html" %}

{% block title %}
Thermos -- Add a URL
{% endblock %}

{% block content %}
		<section>
			<h1> Add a new URL </h1>
				<article>
						<form action = "" method="post">
								{{form.hidden_tag()}}
								<p {% if form.url.errors %} class = "error" {% endif %}>
											Please Enter your Bookmark here :
											{{form.url(size = 50)}}
								</p>
								<p class = "error" >
											<ul>
													{% for error in form.url.errors %}
														<li>
																{{ error }}
														</li>
													{% endfor %}
											</ul>
								</p>
								<p>
											Add an optional description :
											{{form.description(size = 50)}}
								</p>
								<p class = 'submit'>
											<button type="submit">Submit</button>
								</p>
						</form>
				<article>
	  </section>
{% endblock %}
