{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
              <h1>Welcome</h1>
              <p>Thermos is a simple social networking site. It is build while practicing Flask and undergoing though a course on pluralsight </p>
        </header>
        <section>
              <h2>{{ title }}</h2>
              <p>Name : {{ user.Firstname()}} {{user.Lastname()}} <br/>
                 Designation : {{user.Occupation()}} <br/>
                 Education : {{user.Education()}} <br/>
                 Belonging : {{user.Belonging()}}
              </p>
        </section>
        <section>
              <h2>Recently Added</h2>
              {% if new_bookmarks.count() > 0 %}
                  {% with bookmarks = new_bookmarks %}
                        {% include 'bookmarks_list.html' %}
                  {% endwith %}
              {% else %}
                  No bookmarks have been added yet.
              {% endif %}

<!--
                    {% if new_bookmarks %}
                        <ul>
                            {% for bm in new_bookmarks %}
                                <li>
                                  <a href = "{{ url_for('user', username = bm.user.username) }}">{{ bm.user.username }}</a> added <a href="{{ bm.url }}"> {{ bm.description }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                          No bookmarks yet.
                    {% endif %}

-->
        </section>
        <section>
              <h2>Inspiration</h2>
              <p>This site facilitates you to add bookmark here and let yourself free from remembering the bookmarks and their details. Come, Let us serve you to make life free from hassle and your data is secured with us.This site is inspired from course on pluralsight on Flask a micro - framework and is built to get a more closer and better grip on flask and to understand the concepts much clearer and smokefree.</p>
        </section>
    </article>
{% endblock %}
